.about_img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  padding: 15px; 
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(247,247,247)!important;
}
.bg{
  background-color: #FFF!important;
}
nav ul li a:hover{
  color: #fa4b2a!important;
}
.navbar-brand{
  font-family: 'Fredericka the Great', cursive;
}
.nav-link{
  color: rgb(48, 48, 48)!important;
  font-family: 'Quicksand', sans-serif;
}
.nav-custom{
  color: #fa4b2a!important;
  margin: 20px;
}
.navbar-brand{
  color: #fa4b2a!important;
}
.textimg{
  position: absolute;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
   margin-top: 300px;
  margin-left: 100px;
}
.quote{
  text-align: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #FFF;
}

.subject{
  color: #fa4b2a;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}
.tag{
  font-size: 12px;
  color: silver;
}
.tagc {
  margin-right: 5px!important;
  font-size: 10px!important;
}
.headrecen{
  font-family: 'Lora', serif;
  color: rgb(48, 48, 48);
  list-style-type: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.recentPost{
  list-style-type: none!important;
  font-family: 'Lora', serif;
  font-size: 15px;
  color: silver;
  padding: 20px;
}
.mainfooter{
  margin-top: 800px;
  /* //background-color: #FFF; */
  bottom: 0;
  width: 100%;
  text-align: center!important;
  position: relative;
}
.logout{
  padding-top: 30px!important;
  color: #fa4b2a!important;
  /* padding-bottom: 50px!important; */
}