.about_img{
  width: 105px;
  height: 105px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px; 
  margin: 110px;
  margin-top: 25px;
  margin-bottom: 10px;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(247,247,247)!important;
}
.bg{
  background-color: #FFF!important;
}
nav ul li a:hover{
  color: #fa4b2a!important;
}
.navbar-brand{
  font-family: 'Fredericka the Great', cursive;
}
.nav-link{
  color: rgb(48, 48, 48)!important;
  font-family: 'Quicksand', sans-serif;
}
.nav-custom{
  color: #fa4b2a!important;
  margin: 20px;
}
.navbar-brand{
  color: #fa4b2a!important;
}
a img:hover{
  -webkit-filter: blur(6px);
  filter: blur(6px);
  position: absolute;
}
.textimg{
  position: absolute;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
   margin-top: 300px;
  margin-left: 100px;
}
.quote{
  text-align: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #FFF;
}
.quotef {
  text-align: center;
}
.quotef a{
  color: #022430!important;
  font-size: 20px;
  font-family: 'Shadows Into Light Two', cursive;
  text-decoration: none!important;
}
.quote a{
  color: #022430!important;
  font-size: 75px;
  font-family: 'Shadows Into Light Two', cursive;
  text-decoration: none!important;
}
.quote p{
  font-family:  'Quicksand', sans-serif;;
  font-size: 20px;
  color: #9DB4CB;
}
.lastestPost{
  float: left;
  width: 100%;
  background: white;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 10px; 
}
/* .col-sm-4{
  padding-left: 0px!important;
}
.col-sm-8{
  padding-right: 0px!important;
  margin-right: 0px!important;
} */
.lastestPost a {
  font-family: 'Lora', serif;
  color: black;
  font-size: 20px;
}
.lastestPost a:hover {
  color: #fa4b2a;
  text-decoration: none;
}
.sideRight{
  float: right;
  width: 100%;
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: 1px; */
}
.newPost{
  float: left;
  width: 100%;
  background: white;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  margin-right: 15px;
}
.subject{
  color: #fa4b2a;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}
.tag{
  font-size: 12px;
  color: silver;
}
.tagc {
  margin-right: 5px!important;
  font-size: 10px!important;
}
.headrecen{
  font-family: 'Lora', serif;
  color: rgb(48, 48, 48);
  list-style-type: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.recentPost{
  list-style-type: none!important;
  font-family: 'Lora', serif;
  font-size: 15px;
  color: silver;
  padding: 20px;
}
.mainfooter{
  margin-top: 800px;
  /* //background-color: #FFF; */
  bottom: 0;
  width: 100%;
  text-align: center!important;
  position: relative;
}