<div class="quote"><a href="/">VanhLe's Blog</a>
    <p>The one who walk alone </p>
</div>
<div class="container">
        <div class="row">
                <div class="col-sm-4"><a href="#!program"><img src="/images/program.jpeg"/><p class="textimg">Lập trình</p></a></div>
                <div class="col-sm-4"><a href="#!texts"><img src="/images/notebook.jpg"/><p class="textimg">Tản mạn</p></a></div>
                <div class="col-sm-4"><a href="#!packback"><img src="/images/backpack.jpeg"/><p class="textimg">Phượt</p><div class="row"></div></a>
        </div> 
</div>    
