<div>

<div id="sidebar" class="col-sm-2">
    <ul class="list-group">
        <div class="toggle">
                <span></span>
                <span></span>
                <span></span>
        </div>
        
        <li class="navbar-brand">
            <p style="text-align: center"> Yé CMS</p>
        </li>
        <li class="list-group-item">
            <center>
                <a class="nav-item" href="https://www.facebook.com/vanhle97">  <img src="images/author.jpg" class="about_img"></i></a>
            <p><a class="nav-item" href="">Xin chào Lllean</a></p> 
                
            </center>
        </li>
        <div class="hoverred">
                <li class="nav-item"><a class="nav-link" href="#!quanli">Quản lí bài viết </a></li>
                <li class="nav-item"><a class="nav-link" href="#!taobaiviet">Tạo bài viết mới</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Thống kê</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Chỉnh sửa giao diện</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Quản lí tài khoản</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About Yé</a></li>
                <li class="nav-item"> <a class="nav-link logout" href="/">Đăng xuất</a></li>
        </div>
        
    </ul>
</div>
</div>
