<div class="col-sm-10 editor_main" style="float: right">
    <ul class="list-group">
        <li class="list-group-item active">
            <h3 style="text-align: center">
                Markdown Editor by Lleann
            </h3>
            <h6 style="text-align: center">
                With showdown.js
            </h6>
        </li>
        <li class="list-group-item">
        <div class="form-group">
            <label for="Title">Tiêu đề bài viết</label>
            <input type="text" ng-model="title" class="form-control" ng-value="post.h1Post">
            <label for="Title">Ảnh tiêu đề</label>
            <input type="file" class="form-control" value="{{post.imageHeader}}" ng-model="imageHeader">
            <label for="Title">Tác giả</label>
            <input type="text" class="form-control" disabled="disabled" ng-value="post.author[0].name">
            <label for="Title">Thời gian xuất bản</label>
            <input type="text" class="form-control"  disabled="disabled" ng-value="post.creatOn | datert | date : 'dd.M.yyyy'">
            <!-- <button ng-click="convert()">Conver</button> -->
            <span for="#contentEditor">
                Nội dung
            </span>
            <div id="contentEditor" style="margin-top: 30px">
                <div style="height: 633px" class="layout_panel flex flex-row row;margin-left:20px;">
                    <div class="layout_panel"   style="width: 750px;margin-right: 10px;font-size: 15px;border: #81A4CD;border-style: dotted">
                        <textarea name="" ng-model="inputString" id="" cols="100%" rows="100%"></textarea>
                    </div>
                    <div ng-bind-html="inputString | markdown" style="width: 750px;font-size: 15px;border: #81A4CD;border-style: dotted;overflow-x:scroll;overflow-y:scroll;">
                    </div>
                </div>                  
                <!-- <textarea readonly  name="MarkdownOut" id="" cols="130" rows="500">{{tohtml}}</textarea> -->
            </div>
            <button ng-click="publish" style="margin-top: 40px;background-color: #81A4CD!important" class="btn btn-success">Xuất bản</button>
        </div>
    </li>
    </div>
</div>