<div class="col-sm-10" style="float: right">
    <ul class="list-group">
        <li class="list-group-item active">Danh sách bài viết:</li>
        <li class="list-group-item title" ng-repeat="post in posts">
            {{post.h1Post}}
            <p class="dateview">Author : {{post.author[0].name}} - {{post.creatOn | datert | date : 'dd.M.yyyy'}}</p>
            <!-- <img src="{{post.imageHeader}}" width="230px" height="170px"> -->
            <a style="float: right;padding-left: 20px;"  href="/#!baiviet/{{post._id}}"><i class="far fa-eye"></i> Xem</a> 
            <a style="float: right;padding-left: 20px;"  href="#!chinhsuabaiviet/{{post._id}}"><i class="far fa-edit"></i>Sửa</a> 
            <a style="float: right;"  href="/#!baiviet/{{post._id}}"><i class="far fa-trash-alt"></i>Xóa</a> 
        </li> 
    </ul>
</div>