<div>
    <ul class="list-group">
        <li class="list-group-item active">Danh sách bài viết:</li>
        <li class="list-group-item" ng-repeat="post in posts">
            {{post.h1Post}}(author : {{post.author[0].name}})
            <!-- <img src="{{post.imageHeader}}" width="230px" height="170px"> -->
            <a style="float: right;padding-left: 20px;"  href="/#!baiviet/{{post._id}}"><i class="far fa-eye"></i> Xem</a> 
            <a style="float: right;padding-left: 20px;"  href="/#!baiviet/{{post._id}}"><i class="far fa-edit"></i>Sửa</a> 
            <a style="float: right;"  href="/#!baiviet/{{post._id}}"><i class="far fa-trash-alt"></i>Xóa</a> 
        </li> 
    </ul>
</div>