<html ng-app="vaBlog" ng-controller="detailpost_ctl">
    <head>
        <title>It's llean</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap4.0.0/css/bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
        <script src="/libs/jquery-3.3.1.min.js"></script>
        <script src="/stylesheets/bootstrap4.0.0/js/bootstrap.js"></script>
        <script src="/javascripts/app.module.js"></script>
        <script src="/javascripts/app.service.js"></script>
        <script src="/javascripts/app.config.js"></script>
        <script src="/javascripts/app.directive.js"></script>
        <script src="/javascripts/controller/detailpost_ctl.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    </head>    
</html>
<div ng-include="'/views/layout.html'"></div>
<div>
    <img src="images/Last.jpg" width="100%">
</div>