extends layout
block content
  div.row
    .col-sm-4
      a(href="/")
        img(src="/images/program.jpeg")
        p.textimg Lập trình    
    .col-sm-4
      a(href="/")
        img(src="/images/notebook.jpg")
        p.textimg Tản mạn
    .col-sm-4
      a(href="/")
        img(src="/images/backpack.jpeg")
        p.textimg Phượt
  div.row
    .lastestPost.col-sm-8 
      ul.list-group
        li.list-group-item Bài viết mới nhất
          
    .sideRight.col-sm-3
      p let test this
    .newPost.col-sm-8
      p All new post will be here
    