<nav class="navbar navbar-expand-lg navbar-light bg fixed-top">
        <!--a.navbar-brand(href="/") VanhLe's Blog--><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColapse"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarColapse">
        <ul class="navbar-nav mr-auto" style="margin-left : 30px;">
            <li class="nav-item"><a class="nav-link" href="#">Home </a></li>
            <li class="nav-item"><a class="nav-link" href="/">Lập trình </a></li>
            <li class="nav-item"><a class="nav-link" href="/">Tản mạn</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Phượt</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About me</a></li>
        </ul>
        <ul class="navbar-nav navbar-right" style="margin-right : 30px;"><a class="nav-link" href="https://www.facebook.com/vanhle97"> <i class="fab fa-facebook-f"></i></a><a class="nav-link" href="https://www.instagram.com/viet_anh_mai/"><i class="fab fa-instagram"></i></a><a class="nav-link" href="https://www.youtube.com/channel/UC7fk3zX0xO9nbrva98PWUUA?view_as=subscriber"><i class="fab fa-youtube"></i></a></ul>
    </div>
</nav>
<div class="quote"><a href="/">VanhLe's Blog</a>
    <p>một blog rất màu mè </p>
</div>
